<!-- app/templates/app/base.html -->

{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Simple Twitter App{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'app/styles.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="{% url 'app:index' %}">HOME</a>
                <form method="get" action="{% url 'app:tweet_search' %}">
                    {{ search_form.query }}
                    <button type="submit">検索</button>
                </form>
                {% if user.is_authenticated %}
                <a href="{% url 'app:user_profile' user.username %}">{{ user.username }}</a>
                <a href="{% url 'app:tweet_create' %}">Post A Tweet</a>
                <form action="{% url 'app:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'app:signup' %}">SiginUp</a>
                <a href="{% url 'app:login' %}">Login</a>
                {% endif%}
            </nav>
        </header>

        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        <footer>

        </footer>
    </body>
</html>